body{
    width: 100%;
    margin: 0 auto;
    max-width: 670px;
}

#without_exp{
    font-family: 'Bitter', serif;
}

#items {
    letter-spacing: -.4em;
}

#inputs{
    display: inline-block;
    width: 280px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: normal;
}

#convert{
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: normal;
}

#outputs{
    display: inline-block;
    width: 280px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: normal;
}

#change{
    display: inline-block;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: normal;
}

#download{
    display: inline-block;
    width: 260px;
    height: 50px;
    margin: 2em;
    text-align: right;
    letter-spacing: normal;
}

#exp{
    font-family: sans-serif;
}

.center{
    text-align: center;
}

textarea {
    resize: none;
}

#footer{
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 22px;
    color: #a9a9a9;
}

